- if current_user_session
  h2 Welcome #{current_user.name}
  = button_to 'Log out', user_sessions_controller_destroy_path, method: :get
- else
  = form_for @user_session do |f|
    = f.label :email
    br
    = f.text_field :email
    br
    br
    = f.label :password
    br
    = f.password_field :password
    br
    br
    = f.submit 'Login'
  = form_for @snap_login do |f|
    input type="hidden" id="full_url" value=snap_login_url(@snap_login)
    input type="hidden" id="same_origin_url" value=snap_login_url(@snap_login)
    = f.label :token
    br
    = f.text_field :token
    br
    br
    = f.label :email
    br
    = f.text_field :email
    br
    br
    = f.submit 'Login'
  p Or use your smartphone to scan this code
  #qrcode
    #code
    p data-bind="text: url()"
    p data-bind="text: 'auth challenge: ' + challenge()"
    button data-bind="click: regenerate" refresh challenge

